table {
	border-collapse:collapse;
}
 
td {
	background-color:#6d3303;
    border: 3px solid white;
    height: 80px; 
    width: 456px; 
    overflow: hidden;
    white-space: nowrap;
	font-size:80px;
	color:#ffffff;
	border-radius: 10px 10px 10px 10px;
}
.mainHeadDiv{
    display: flex;
    align-items: center; 
}
h4.message{
    display: flex;
    
}

.mainHead{
align-items: center;
}
.bodyIndex{
      
    background-color: #F5E1B2;
    
}
.indexH1{
text-align: center;
}

.sectionIndex1{
    display: flex;
    border-style: ridge;
    border-width: 20px 20px 20px 20px;
    border-color: brown;
}

.playGameButton{
    
        width: 200px;
        background-color:#6d3303; 
        font-size: 18px;
        text-align: center;
        color: whitesmoke;

}
.bodyPage1{
    display:flex;
    flex-direction: row;
    margin: 10%;    
    background-color: #F5E1B2;
    
}
h4{
    font-family:'Times New Roman', Times, serif;

}
.gameTable{
    align-items: center;
    text-align: center;
}
.start{
    background-color:black; 
    font-size: 20px; 
    color: white;
    font-style: italic;
}